#navigation {
    position: fixed;
    top: 0;
    height:40px;
    min-width: 1000px;
    width: 100%;
    background-color: #fff;
}

    #navigation #buttons {
        float: right;
        margin-right: 20px;
    }

    #navigation #search {
        float: left;
        margin-left:50px;
        margin-top:5px;
    }

.btn-special {
    margin: 0;
    height:40px;
    border-radius: 0;
    display: block;
    float: left;
    border: none;
}

#Content {
    margin-top: 40px;
    width: 100%;
    height:500px;
    min-width: 1000px;
    background-color:#f7f7f7;
    border-top:1px solid #e1dede;
}
