body {
    margin: 0;
    background-color: #202021;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#navigation {
    position: fixed;
    top: 0;
    /*may be it will be modified*/
    min-width: 1300px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e1dede;
    z-index: 1000;
}

    #navigation #buttons {
        float: right;
        margin-right: 20px;
    }

    #navigation #search {
        float: left;
        margin-left: 300px;
        margin-top: 10px;
    }

.btn-avatar-panel {
    margin: 0;
}

.btn-special {
    margin: 0;
    height: 50px;
    border-radius: 0;
    display: block;
    float: left;
    border: none;
}

.block {
    color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    background-color: #454545;
    border-radius: 5px;
    border: 2px solid #cecece;
     position: relative;
}

.top-block {
    margin-top: 20px;
}

.bottom-block {
    margin-top: 10px;
}

.left-block {
    float: left;
    margin-left: 1%;
    width: 42%;
}

.right-block {
    float: right;
    width: 55%;
}

#Content {
    margin-top: 50px;
    width: 100%;
    /*may be it will be modified*/
    min-width: 1300px;
}

#MainBlock {
    width: 70%;
    float: left;
    position:relative;
}

#LiveWindow {
    float: right;
    width: 28%;
    height: 550px;
    margin-right: 20px;
    margin-top: 20px;
}

#InnerBlock {
    margin: auto;
    width: 96%;
}

#Avatar {
    height: 300px;
}

#Info {
    height: 300px;
    position: relative;
}

#Friends {
    clear:left;
    overflow-y: auto;
    overflow-x: hidden;
    /*max-height:226px;*/
    height: 226px;
}

#MessageTyping {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.messageTextBox {
    padding: 0;
    width: 99.5%;
    resize: none;
}

.btn-send {
    float: right;
    margin-right: 10px;
}

.block-title {
    display: inline-block;
    font-size: 2em;
    padding: 5px 0 0 15px;
}

#Status {
    float: right;
    display: inline-block;
    font-size: 1.5em;
    padding: 5px 5px 0 0;
}

.FriendAvatar {
    border: 1px solid white;
    height: 64px;
    width: 64px;
    margin-top: 5px;
    display: inline-block;
}

.FriendName {
    width: 100%;
    font-size: smaller;
}
#wrapperSizeFriends {
    width: 8%;
    float:right;
    position:relative;
}
#sizeFriends {
    float:right;
    position:relative;
    background-color:#808080;
    
}
#sizeFriends:hover {
    background-color:#a19f9f;
    cursor:pointer;
}
#FriendsList {
    float:left;
    position:relative;
}
#FriendsList, #FriendsToTalkList {
    text-align: center;
    width: 92%;
}

    #FriendsList td, #FriendsToTalkList td {
        width: 25%;
    }

#AvatarContainer {
    height: 300px;
    text-align: center;
    position: relative;
}

    #AvatarContainer img {
        height: 300px;
    }

#UnderAvatarPanel {
    position: absolute;
    opacity: 0.7;
    background-color: #808080;
    bottom: 0;
    height: 20px;
    width: 100%;
}

    #UnderAvatarPanel:hover {
        opacity: 0.7;
    }

/*======Messages.aspx======*/
#Messages {
    height: 550px;
}

#FriendsToTalkBlock {
    float: left;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#MessagesBlock {
    float: right;
    width: 79%;
    height: 100%;
    position: relative;
    margin-right: 1%;
}

#MessagesList {
    background-color: white;
    height: 71%;
    border: 1px solid #808080;
    border-radius: 4px;
    position: relative;
    overflow-y: auto;
}

#TalkTo > div {
    color: #000;
    font-size: 1.2em;
    margin: 5px 20px 0 0;
    float: right;
}

#FriendsToTalkBlock div:hover {
    cursor: pointer;
}

.Message {
    bottom: 0;
    min-height: 35px;
    clear: both;
    padding: 0 20px;
}

    .Message .MessageSender {
        color: green;
        padding: 3px 2% 0 0;
        text-align: right;
        float: left;
        width: 23%;
        height: 100%;
    }

    .Message .MessageText {
        color: grey;
        padding: 3px 0 0 2%;
        font-size: 0.85em;
        float: right;
        width: 73%;
        height: 100%;
    }

    .Message .MyMessage {
        color: blue;
    }

#MessagesProgress {
    clear: both;
    text-align: center;
}
